.rotate-card {
    border: 1px solid;
    border-radius: 2.9vw;
    height: 100vw;
    animation: rotateBack 2s linear;
    /* transition: transform 2s; */
    /* background-color: red; */
}

.rotated {
    /* transform: rotateY(180deg); */
    /* background-color: blue; */
    animation: rotateOver 2s linear;
}

.rotate-card-content {
    width: 84vw;
}

.content {
    transform: rotateY(180deg);
    transition: transform 2s;
}

@keyframes rotateOver {
    0%   {transform: rotateY(0deg);background-color: red;}
    50%   {transform: rotateY(90deg);background-color: red;}
    50%   {transform: rotateY(90deg);background-color: blue;}
    100% {transform: rotateY(180deg);background-color: blue;}
}

@keyframes rotateBack {
    0% {transform: rotateY(180deg);background-color: blue;}
    50%   {transform: rotateY(90deg);background-color: blue;}
    50%   {transform: rotateY(90deg);background-color: red;}
    100%   {transform: rotateY(0deg);background-color: red;}
}